*
{
	font-family: 'Open Sans', sans-serif;
}

#header
{
	border-bottom: solid 1px gray;
}

#header ul {
	list-style: none;
	padding:0;
	margin:0;
}


/*make list horizontal and make border*/
/*floating list to the left*/
#header li {
	float: left;
	border: 1px solid;
	border-bottom-width: 0;
	margin: 0 0.5em 0 0;
}

/*make the whole width of the tab clickable*/
#header li a {
	padding: 0 1em;
}

/*border*/
#content {
	border: 1px solid;
	clear: both;
	
}

h1 {
	margin: 0;
	padding: 0 0 1em 0;
} 

/*makes tab feeling */
#header #selected {
	position: relative;
	top: 1px;
	background: lightgrey;
}

.td_margin
{
	width: 25px;
}

.subtitle
{
	margin: 20px 0 0 0;
	padding: 0 0 0 0;
	text-align: left;
}

.title-size
{
	width: 95%;
}

    /* Tab Styling */
    /*----- Tabs -----*/
    .tabs {
        width:100%;
        display:inline-block;
        margin-left: -43px;
        margin-bottom: -15px; 
    }
 
    /*----- Tab Links -----*/
    /* Clearfix */
    .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }
 
    .tab-links li {
        margin:0px 3px;
        float:left;
        list-style:none;
    }
 
    .tab-links a {
        padding:9px 15px;
        display:inline-block;
        border-radius:3px 3px 0px 0px;
        background:#7FB5DA;
        font-size:16px;
        font-weight:600;
        color:#4c4c4c;
        transition:all linear 0.15s;
    }
 
    .tab-links a:hover {
        background:#a7cce5;
        text-decoration:none;
    }
 
    li.active a, li.active a:hover {
        background:#f7f7f7;
        color:#4c4c4c;
    }
 
    /*----- Content of Tabs -----*/
    .tab-content {
        padding:15px;
        padding-left: 50px;
        padding-right: 50px;
        background:#f7f7f7;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
    }
 
    .tab {
        display:none;
    }
 
    .tab.active {
        display:block;
    }