*
{
	font-family: 'Open Sans', sans-serif;
}

#header
{
	border-bottom: solid 1px gray;
}

#header > ul
{
	list-style: none;
	padding:0;
	margin:0;
}

/*make list horizontal and make border*/
/*floating list to the left*/
#header > li
{
	float: left;
	border: 1px solid;
	border-bottom-width: 0;
	margin: 0 0.5em 0 0;
}

/*make the whole width of the tab clickable*/
#header > li > a
{
	padding: 0 1em;
}

/*border*/
#content
{
	border: 1px solid;
	clear: both;
}

h1 {
	margin: 0;
	padding: 0 0 1em 0;
} 

/*makes tab feeling */
#header #selected
{
	position: relative;
	top: 1px;
	background: lightgrey;
}

.td_margin
{
	width: 25px;
}

.subtitle
{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	text-align: left;
}

.title-size
{
	width: 95%;
}

/*Recently Played CSS*/
.recentlyPlayedTable > td
{
	text-align: center;
}

.pic
{ 
	width:100px; 
	height:100px; 
	background: #c3dfef;
} 

.text
{ 
	width:100px; 
	height:100px; 
	background:#FFF; 
	opacity:0; 
} 

.pic:hover .text 
{ 
	opacity:0.6; 
	text-align:justify; 
	color:#000000; 
	font-size:10px; 
	font-weight:700; 
	font-family:"Times New Roman", Times, serif; 
	padding:30px; 
}

/*favorites CSS*/

/* 'star-rating' component */
.rating
{
	overflow: hidden;
	display: inline-block;
}
.rating-input
{
	float: right;
	width: 16px;
	height: 16px;
	padding: 0;
	margin: 0 0 0 -16px;
	opacity: 0;
}
  
.rating-star
{
	position: relative;
	float: right;
	display: block;
	width: 16px;
	height: 16px;
	background: url(http://i.imgur.com/YsyS5y8.png) 0 -16px repeat-x;
}

.rating:hover .rating-star:hover,
.rating:hover .rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star
{
	background-position: 0 0;
}
.rating-star,
.rating:hover .rating-star
{
	position: relative;
	float: right;
	display: block;
	width: 16px;
	height: 16px;
	background: url(http://i.imgur.com/YsyS5y8.png) 0 -16px repeat-x;
}

/*Leaderboard CSS*/
#tfheader
{
	background-color:#c3dfef;
}
#tfnewsearch
{
	float:right;
	padding:20px;
}
.tftextinput
{
	margin: 0;
	padding: 5px 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	border:1px solid #0076a3; border-right:0px;
	border-top-left-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px;
}
.tfbutton
{
	margin: 0;
	padding: 5px 15px;
	font-size:14px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	border: solid 1px #0076a3; border-right:0px;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	border-top-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
}
.tfbutton:hover
{
	text-decoration: none;
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
}

/* Fixes submit button height problem in Firefox */
.tfbutton::-moz-focus-inner
{
  border: 0;
}
.tfclear
{
	clear:both;
}

.two_equal
{
    width: 50%;
    float: left;
    text-align: center;
}

table.leaderboard
{
    width: 100%;
    margin: auto;
    background-color: #fafafa;
    margin-bottom: 20px;
}

.leaderboard-2
{
    width: 90%;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #fafafa;
    text-align: left;
}

.LBHeader
{
    margin: auto;
    top: 0; 
    padding-top: 0.05px;
    padding-bottom: 0.05px;
    margin-left: -20px;
    margin-right: -20px;
    background-color: #34495E;
    text-align: center;
    color: white;
}

.progress-margin
{
    margin-left: 50px;
    border: 1px solid black;
}

/*Table to compare to others*/
.leaderboardTableRows > tr > td
{
	font-size: 24px;
}

#yourLeaderScore
{
	background-color: #65E0C8;
	font-weight: bold;
	text-align: center;
}

.leaderboardValues > td
{
	text-align: center;
}


/*Recent:30/60days visual/table*/

.recentDaysBorder
{
	border: 1px solid;
	border-color: #428bca;
}

.leftButtonLeader
{
	background-color: #428bca;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.rightButtonLeader
{
	background-color: #428bca;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

.footer
{
  margin-top: 25px;
  padding-left: 20px;
}

.jumbotron
{
	border: solid 1px #ddd;
}

.rating
{
	padding-top: 20px;
	padding-left: 15px;
}

.flow-search
{
	display: inline-block;
}