*
{
	font-family: 'Open Sans', sans-serif;
}

#header ul {
	list-style: none;
	padding:0;
	margin:0;
}


/*make list horizontal and make border*/
/*floating list to the left*/
#header li {
	float: left;
	border: 1px solid;
	border-bottom-width: 0;
	margin: 0 0.5em 0 0;
}

/*make the whole width of the tab clickable*/
#header li a {
	padding: 0 1em;
}

/*border*/
#content {
	border: 1px solid;
	clear: both;
	
}

h1 {
	margin: 0;
	padding: 0 0 1em 0;
} 

/*makes tab feeling */
#header #selected {
	position: relative;
	top: 1px;
	background: lightgrey;
}

.td_margin
{
	width: 25px;
}

.subtitle
{
	margin: 20px 0 0 20px;
	padding: 0 0 0 0;
	text-align: left;
}

.title-size
{
	width: 95%;
}

#recentlyPlayedBorder > table
{
	border: 1px solid;
	font-size: 20px;
	border-color: #428bca;
	border-radius: 25px;
	margin: 0 0 0 20px;
}

.recentlyPlayedPadding
{
	padding: 0 20px 0 20px;
}

div table th
{
	font-size: 26px;
	background-color: #428bca;
	color: #FFFFFF;
	padding: 10px 200px 10px 0px;
}

div > table
{
	border-color: 428bca;
}







/* 'star-rating' component */
.starRate {position:relative; margin:20px; overflow:hidden; zoom:1;}
.starRate ul {width:160px; margin:0; padding:0;}
.starRate li {display:inline; list-style:none;}
.starRate a, .starRate b {background: black;
}
.starRate a {float:right; margin:0 80px 0 -144px; width:80px; height:16px; background-position:left 16px; color:#000; text-decoration:none;}
.starRate a:hover {background-position:left -32px;}
.starRate b {position:absolute; z-index:-1; width:80px; height:16px; background-position:left -16px;}
.starRate div b {left:0px; bottom:0px; background-position:left top;}
.starRate a span {position:absolute; left:-300px;}
.starRate a:hover span {left:90px; width:100%;}


/*for leaderboard*/

.progress{
background-image:-webkit-linear-gradient(top,#ebebeb 0,#f5f5f5 100%);
background-image:linear-gradient(to bottom,#ebebeb 0,#f5f5f5 100%);
background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff5f5f5', GradientType=0)
}

.progress-bar{
	background-image:-webkit-linear-gradient(top,#428bca 0,#3071a9 100%);
	background-image:linear-gradient(to bottom,#428bca 0,#3071a9 100%);
	background-repeat:repeat-x;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff3071a9', GradientType=0)
}